// Blog Entry Display START
#blog-all-container{

    .pagination{
        position: absolute;
        bottom: 20px;
    }

    #blog-entries{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;

        .blog-entry{
            // display: flex;
            // flex-direction: column;
            max-width: 20%;
            height: fit-content;
            // justify-content: space-evenly;
            // height: fit-content;
            background-color: rgba(0, 0, 0, 0.700);
            border-radius: 10px;
            text-decoration: none;
            color: white;
            
            p{
                margin: 10px;
            }

            .blog-description{
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .blog-entry-image{
                display: flex;
                width: 100%;
                max-height: 20vh;
                overflow: hidden;
    
                img{
                    display: flex;
                    align-self: center;
                    width: 100%;
                    max-height: 20vh;
                    object-fit: contain;
                    border-radius: 10px 10px 0px 0px;
                }
            }

            .blog-title-type{
                display: flex;
                width: 100%;
                justify-content: space-around;
            }

            .blog-pp-date{
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;

                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: 1px solid yellow;
                    object-fit: cover;
                }
            }
        }
    }
}
// Blog Entry Display END

// Blog View START
#blog-view-container{
    display: flex;

    .blog-view-image-container{
        // display: flex;
        width: 100%;
        height: 40vh;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;

        img{
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
            object-position: 50% 20%;
        }
    }

    .blog-view-text-content-container{
        width: 100%;
        height: 60vh;
        justify-content: space-between;
        align-items: center;

        p{
            text-align: left !important;
            margin: 10px;
            font-size: 1.1rem;
            max-height: 70%;
            overflow-y: auto;
        }
    }

    .blog-view-title-type{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .blog-view-pp-date{
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid yellow;
            object-fit: cover;
        }
    }
}
// Blog View END