#references-container{
    position: absolute;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.900);
    color: white;
    top: 2.5vh;
    left: 10%;
    height: 95vh;
    max-height: 95vh;
    margin-left: 20px;
    border-radius: 10px;
    width: 88%;
    max-width: 88%;

    .reference-container{
        display: flex;
        font-size: 1.1rem;
        flex-direction: column;
        color: black;
        min-width: 35%;
        max-width: 35%;
        height: 90%;
        background: url(../../public/images/references/reference-bg.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;

        .reference-signature{
            width: 20%;
        }

        h5, p {
            padding: 10px;
        }
    }

    .reference-arrow{
        cursor: pointer;
        display: block;
        margin: auto auto;
        width: 60%;
    }

    .reference{
        position: relative;
        height: 100%;

        .reference-sign-off{
            p{
                margin: 0;
            }
        }

        .reference-contact{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

@media screen and (min-width: 2000px) and (max-width: 2900px) {
    #references-container{
        left: 6.5%;
        width: 92%;
        max-width: 92%;
    }
}